* {
    background-color: #E4DCCF;
    font-size: 20px;
}

.Headlines {
    width: 100%;
    display: flex;
}

.HomeTitle {
    color: black;
    font-size: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    text-align: right;
    float: center;
    padding-top: 30px;
    width: 63%;
    float: left;
}

.Buttons {
    width: 20%;
    height: 40px;
    float: right;
    padding-top: 80px;
    padding-left: 8.6%;
    display: flex;
    justify-content: space-evenly;

    /* height: 30px; */
    /* padding-top: 30px; */
}

.Buttons button {
    width: 40%;
    height: 100%;
    background-color: white;
    /* border: 3px solid #002B5B; */
    border: transparent;
    font-size: 20px;
}


.TextForExplain {
    width: 80%;
    height: 320px;
    background-color: white;
    border: 7px solid #002B5B;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}


.GoToMims {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.GoToBrowse {
    width: 45%;
    background-color: white;
    border: 7px solid #002B5B;
    padding-top: 13px;
    padding-bottom: 13px;
}

.GoToUpload {
    width: 45%;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border: 7px solid #002B5B;
}